<h3>Your Buddies:</h3>
  <% @tags.each do |tag| %>
    <p>
      <form action="/users/<%= user.id %>" method="post">
        <input type="submit" name="username" value="<%= user.username %>" />
      </form>
      <% if current_user.following? %>
        <form action="/users/<%=current_user.id%>/buddies/<%= buddy.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Unfollow">
        </form>
      <% else %>
        <form action="/users/<%=current_user.id%>/buddies/<%= buddy.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Unfollow">
        </form>
      <% end %>
    </p>
  <% end %>

<p><a href="/users/<%= current_user.id %>">Profile</a></p>
