<%= erb :_nav_bar, layout: false %>

<div>
  <h3><%= @user.username %>'s Buddies:</h3>
  <% @buddies.each do |buddy| %>
    <p>
      <a href="/users/<%= buddy.id %>"><%= buddy.username %></a>
      <% if current_user %>
        <form action="/buddies/<%= buddy.id %>/delete" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete from Buddies">
        </form>
      <% end %>
    </p>
  <% end %>
</div>
