<%= erb :_nav_bar, layout: false %>

<div>
  <h3><%= @user.username %>'s Buddy Requests:</h3>
  <% @buddies.each do |buddy| %>
    <p>
      <a href="/users/<%= buddy.id %>"><%= buddy.username %></a>
      <% if current_user %>
      	<form action="/buddies/<%= buddy.id %>/new" method="post">
	        <input type="submit" value="Add Buddy">
        </form>
        <form action="/buddies/<%= buddy.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Ignore Request">
        </form>
      <% end %>
    </p>
  <% end %>
</div>