<p><a href="/users/<%= current_user.id %>">Profile</a></p>
<h3><%= @user.username %>'s Buddy Requests:</h3>
  <% @buddies.each do |buddy| %>
    <p>
      <a href="/users/<%= buddy.id %>"><%= buddy.username %></a>
      <% if current_user %>
      	<form action="/users/<%=current_user.id%>/buddies/<%= buddy.id %>/new" method="post">
	        <input type="submit" value="Add Buddy">
        </form>
        <form action="/users/<%=current_user.id%>/buddies" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Ignore Request">
        </form>
      <% end %>
    </p>
  <% end %>
