<button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
<button class="btn left"><a href="/tags">Tags</a></button>
<button class="btn left"><a href="/conversations">Convos</a></button>
<button class="btn left"><a href="/buddies">Buddies</a></button>
<button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
<button class="btn left"><a href="/users/<%= @user.id %>">Back</a></button>
<button class="btn right"><a href="/logout">Logout</a></button>
<br>

<div>
	<h3>Conversations with <%= @user.username %>:</h3>
	<ul>
	  <% @records.each do |conversation| %>
	    	<li><a href="/conversations/<%= conversation.id %>">(<%= conversation.created_at %>): <%= conversation.title %></a></li>
	  <% end %>
	</ul>

	<form action="/users/<%= @user.id %>/conversations" method="post">
	  <label for="conversation">New Conversation Title:</label>
	  <input type="text" name="title" value="<%= @conversation.title %>"/>
	  <label for="message">Message:</label>
	  <input type="text" name="content" value="<%= @message.content %>"/>
	  <input type="submit" value="Send">
	</form>
</div>

