<nav>
  <% if logged_in? %>
    <button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
    <button class="btn left"><a href="/">Search</a></button>
    <button class="btn left"><a href="/tags">Tags</a></button>
    <button class="btn left"><a href="/conversations">Convos</a></button>
    <button class="btn left"><a href="/buddies">Buddies</a></button>
    <button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
    <button class="btn right"><a href="/logout">Logout</a></button>
  <% else %>
    <button class="btn left"><a href="/login">Login</a></button>
    <button class="btn left"><a href="/users/new">Register</a></button>
  	<button class="btn left"><a href="/">Search</a></button>
  <% end %>
</nav>
<br>

<div>
	<h3>Messages:</h3>
	  <% @messages.each do |message| %>
	  	<p><%= message.created_at %>:</p>
	  	<p><b><%= User.find(message.user_id).username %></b></p>
	    <p>><%= message.content %></p>
	    <br>
	  <% end %>

	<form action="/conversations/<%= @conversation.id %>/message" method="post">
	  <label for="message">Message:</label>
	  <input type="text" name="content" value="<%= @new_message.content %>"/>
	  <input type="submit" value="Send">
	</form>
</div>

