<% if logged_in? %>
  <p><a href="/logout">Logout</a></p>
  <p><a href="/">Search</a></p>
  <p><a href="/users/<%= current_user.id %>">Profile</a></p>
<% else %>
  <p><a href="/login">Login</a></p>
  <p><a href="/users/new">Register</a></p>
	<p><a href="/">Search</a></p>
<% end %>

<h1><%= @user.username %></h1>
<p><h3><%= @user.first_name %> <%= @user.last_name %></h3></p>
<p><h3>Tags:</h3></p>
<h4>
  <% tags = [] %>
  <% @user.tags.each do |tag| %>
  <% tags << tag.name %>
  <% end %>
  <%= tags.join(", ") %>
</h4>

<% if logged_in? && @user.id == current_user.id %>
  <form action="/users/<%=current_user.id%>/edit" method="get">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Edit Profile">
  </form>
  <form action="/users/<%=current_user.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete User">
  </form>
  <p><a href="/users/<%=current_user.id%>/tags">Show Tags</a></p>
  <p><a href="/users/<%=current_user.id%>/tags/new">Add Tags</a></p>
  <p><a href="/users/<%=current_user.id%>/conversations">Show Conversations</a></p>
  <p><a href="/users/<%=current_user.id%>/buddies">Show Buddies</a></p>
<% elsif logged_in? && @user.id != current_user.id %>
  <p><a href="/users/<%=@user.id%>/conversations/new">New Message</a></p>
<% end %>

<% if logged_in? && @user.id != current_user.id && !current_user.buddys.include?(@user)%>
  <form action="/users/<%=@user.id%>/buddies" method="post">
    <input type="submit" value="Add Friend">
  </form>
<% elsif logged_in? && @user.id == current_user.id %>
<% else %>
    <h3>Already friends!</h3>
<% end %>

<!-- #messages
#buddies
#awesomeness points
#about me
#if someone else's pf, show if endorsed or not
 -->
