<nav>
  <% if logged_in? %>
    <button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
    <button class="btn left"><a href="/">Search</a></button>
    <button class="btn left"><a href="/tags">Tags</a></button>
    <button class="btn left"><a href="/conversations">Convos</a></button>
    <button class="btn left"><a href="/buddies">Buddies</a></button>
    <button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
    <button class="btn right"><a href="/logout">Logout</a></button>
  <% else %>
    <button class="btn left"><a href="/login">Login</a></button>
    <button class="btn left"><a href="/users/new">Register</a></button>
  	<button class="btn left"><a href="/">Search</a></button>
  <% end %>
</nav>
<br />

<div class="center">
  <h1><%= @user.username %></h1>
  <p><h3><%= @user.name %></h3></p>
  <p><h3>Tags:</h3></p>
  <h4>
    <% tags = [] %>
    <% @user.tags.each do |tag| %>
    <% tags << tag.name %>
    <% end %>
    <%= tags.join(", ") %>
  </h4>
</div>

<!-- <form action="/users/<%= @user.id %>/ratings" method="post">
  <input name="star1" type="radio" class="star-off"/> 
  <input name="star2" type="radio" class="star-off"/> 
  <input name="star3" type="radio" class="star-off"/> 
  <input name="star4" type="radio" class="star-off"/> 
  <input name="star5" type="radio" class="star-off"/>
  <div class="star-off" id="1"></div>
  <div class="star-off" id="2"></div>
  <div class="star-off" id="3"></div>
  <div class="star-off" id="4"></div>
  <div class="star-off" id="5"></div>

  <input type="submit" value="Rate" />

</form> -->

<% if logged_in? && @user.id == current_user.id %>
  <p><a href="/users/<%=current_user.id%>/edit">Edit Profile</a></p>
  <p><a href="/buddies/pending">Pending Buddies</a></p>
  <p><a href="/buddies/requests">Buddy Requests</a></p>
<% elsif logged_in? && @user.id != current_user.id %>
  <p><a href="/users/<%= @user.id %>/events"><%= @user.username %>'s Events</a></p>
  <p><a href="/users/<%= @user.id%>/conversations/new">New Message</a></p>
<% end %>

<% if logged_in? && @user.id != current_user.id && current_user.pending_buddies.include?(@user)%>
  <h3>(Buddy Request Pending...)</h3>
<% elsif logged_in? && @user.id != current_user.id && !current_user.accepted_buddies.include?(@user)%>
  <form action="/users/<%=@user.id%>/buddies" method="post">
    <input type="submit" value="Add Buddy">
  </form>
<% elsif logged_in? && @user.id == current_user.id %>
<% elsif !logged_in? %>
<% else %>
  <h3>Already friends!</h3>
  <form action="/buddies/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Remove Buddy" />
  </form>
<% end %>

<!-- 
#awesomeness points
#about me
#if someone else's pf, show if endorsed or not
 -->
