<%= erb :_nav_bar, layout: false %>

<div class="center">
  <h1><%= @user.username %></h1>
  <p><h3><%= @user.name %></h3></p>
</div>

<% if logged_in? && @user.id != current_user.id %>
  <p><a href="/users/<%= @user.id %>/events"><%= @user.username %>'s Events</a></p>
  <p><a href="/users/<%= @user.id%>/conversations/new">New Message</a></p>
<% end %>

<% if logged_in? && @user.id != current_user.id && current_user.pending_buddies.include?(@user)%>
  <h3>(Buddy Request Pending...)</h3>
<% elsif logged_in? && @user.id != current_user.id && !current_user.accepted_buddies.include?(@user)%>
  <form action="/users/<%=@user.id%>/buddies" method="post">
    <input type="submit" value="Add Buddy">
  </form>
<% elsif logged_in? && @user.id == current_user.id %>
<% elsif !logged_in? %>
<% else %>
  <h3>Already friends!</h3>
  <form action="/buddies/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Remove Buddy" />
  </form>
<% end %>

<!-- 
#awesomeness points
#about me
#if someone else's pf, show if endorsed or not
 -->
