<%= erb :_nav_bar, layout: false %>

<div class="center">
  <h1><%= @user.username %></h1>
  <p><h3><%= @user.name %></h3></p>
</div>

<% if logged_in? && @user.id == current_user.id %>
<p><a href="/events/new">New Event</a></p>
<div class="event_wrapper">
  <h2>Your Events:</h2>
    <h3>Upcoming Events:</h3>
    <% current_user.accepted_events.each do |event| %>
      <div id="event_post<%= event.id %>" class="center">
        <h3>Event: <a href="/users/<%= event.poster.id %>/events/<%= event.id %>"><%= event.name %></a></h3>
        <h4>Poster: <a href="/users/<%= event.poster.id %>"><%= event.poster.username %></a></h4>
        <h4>Description: <%= event.description %></h4>
        <h4>Time: <%= event.time %></h4>
        <h4>Location: <%= event.location %></h4>
        <h6>Tags: <% event.tags.each do |tag| %>
          <form id="new_search" action="/results" method="post">
            <input type="submit" name="tag" value="<%= tag.name %>" >
          </form>
        <% end %></h6>
      </div>
    <% end %>
    <h3>Posted Events:</h3>
    <% current_user.solo_events.each do |event| %>
      <div id="event_post<%= event.id %>" class="center">
        <h3>Event: <a href="/users/<%= event.poster.id %>/events/<%= event.id %>"><%= event.name %></a></h3>
        <h4>Poster: <a href="/users/<%= event.poster.id %>"><%= event.poster.username %></a></h4>
        <h4>Description: <%= event.description %></h4>
        <h4>Time: <%= event.time %></h4>
        <h4>Location: <%= event.location %></h4>
        <h6>Tags: <% event.tags.each do |tag| %>
          <form id="new_search" action="/results" method="post">
            <input type="submit" name="tag" value="<%= tag.name %>" >
          </form>
        <% end %></h6>
      </div>
    <% end %>
    <h3>Your Friend's Events:</h3>
    <% current_user.buddies.each do |buddy| %>
      <% buddy.events.each do |event| %>
        <% if event.receiver_id == 0 || event.accepted == true %>
          <div id="event_post<%= event.id %>" class="center">
            <h3>Event: <a href="/users/<%= event.poster.id %>/events/<%= event.id %>"><%= event.name %></a></h3>
            <h4>Poster: <a href="/users/<%= event.poster.id %>"><%= event.poster.username %></a></h4>
            <h4>Description: <%= event.description %></h4>
            <h4>Time: <%= event.time %></h4>
            <h4>Location: <%= event.location %></h4>
            <% if event.receiver_id == 0 %>
              <form action="/events/<%= event.id %>/accept" method="post">
                <input type="submit" value="Count Me In!">
              </form>
            <% end %>
            <h6>Tags: <% event.tags.each do |tag| %>
              <form id="new_search" action="/results" method="post">
                <input type="submit" name="tag" value="<%= tag.name %>" >
              </form>
            <% end %></h6>
            <h4><a class="show_message_form" value="<%= event.id %>" href="/users/<%= event.poster.id %>/conversations/new">New Message</a></h4>
            <% if @conversation %>
              <%= erb :"conversations/_new", layout: false, locals: {user: @user, convo: @conversation, message: @message, event: event} %>
            <% end %>
            <br>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <h3>Events Recommended for You:</h3>
    
  </div>
<% end %>

<% if logged_in? && @user.id != current_user.id %>
  <p><a href="/users/<%= @user.id %>/events"><%= @user.username %>'s Events</a></p>
  <p><a href="/users/<%= @user.id%>/conversations/new">New Message</a></p>
<% end %>

<% if logged_in? && @user.id != current_user.id && current_user.pending_buddies.include?(@user)%>
  <h3>(Buddy Request Pending...)</h3>
<% elsif logged_in? && @user.id != current_user.id && !current_user.accepted_buddies.include?(@user)%>
  <form action="/users/<%= @user.id %>/buddies" method="post">
    <input type="submit" value="Add Buddy">
  </form>
<% elsif logged_in? && @user.id == current_user.id %>
<% elsif !logged_in? %>
<% else %>
  <h3>Already friends!</h3>
  <form action="/buddies/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="delete" />
    <input type="submit" value="Remove Buddy" />
  </form>
<% end %>

<!-- 
#awesomeness points
#about me
#if someone else's pf, show if endorsed or not
 -->
