<nav>
  <% if logged_in? %>
    <button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
    <button class="btn left"><a href="/">Search</a></button>
    <button class="btn left"><a href="/tags">Tags</a></button>
    <button class="btn left"><a href="/conversations">Convos</a></button>
    <button class="btn left"><a href="/buddies">Buddies</a></button>
    <button class="btn left"><a href="/users/<%= current_user.id %>/events">Events</a></button>
    <button class="btn right"><a href="/logout">Logout</a></button>
  <% else %>
    <button class="btn left"><a href="/login">Login</a></button>
    <button class="btn left"><a href="/users/new">Register</a></button>
    <button class="btn left"><a href="/">Search</a></button>
  <% end %>
</nav>
</br>

<div>

<% if @user.id != current_user.id %>
  <p><a href="/events/new">New Event with <%= @user.username %></a></p>
<% else %>
  <p><a href="/events/new">New Event</a></p>
<% end %>

  <h3><%= @user.username %>'s Events:</h3>
  <% @events.each do |event| %>

    <% if @user.id != current_user.id && event.is_private == false %>
      <p>
        <a href="/users/<%= @user.id %>/events/<%= event.id %>"><%= event.name %></a>
        <br>
        <%= event.time %>
        <br>
        <%= event.location%>
      </p>
    <% end %>

    <% if @user.id == current_user.id %>
      <p>
        <a href="/users/<%= @user.id %>/events/<%= event.id %>"><%= event.name %></a>
        <br>
        <%= event.time %>
        <br>
        <%= event.location%>

        <% if event.is_private == true %>
          <h3>Private Event</h3>
        <% else %>
          <h3>Public Event</h3>
        <% end %>

        <form action="/events/<%= event.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Event">
        </form>
        
      </p>
    <% end %>

  <% end %>
</div>