<button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
<button class="btn left"><a href="/users/<%= @user.id %>events">Events</a></button>
<button class="btn right"><a href="/logout">Logout</a></button>
<br>

<div>
	<h3><%= @event.name %>:</h3>
	<h4><%= @event.time %></h4>
	<h4><%= @event.location %></h4>
	<% if @event.is_private == true %>
		<h4>Private Event</h4>
	<% else %>
		<h4>Public Event</h4>
	<% end %>
	<h4>Hanging out with: <%= @event.buddy%></h4>
	<br>

	<form action="/events/<%= @event.id %>/edit" method="get">
    <input type="submit" value="Edit Event">
  </form>
  <form action="/events/<%= @event.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event">
  </form>
</div>

