<div id="<%= event.id %>" class="center">
	<h3><%= event.name %></h3>
	<h4><%= event.poster.username %></h4>
	<h4><%= event.description %></h4>
	<h4><%= event.time %></h4>
	<h4><%= event.location %></h4>
	<h6>Tags: <% event.tags.each do |tag| %>
		<a href="/results/<%= tag.name %>"><%= tag %></a>
	<% end %></h6>
	<br>
</div>
