<nav>
  <% if logged_in? %>
    <button class="btn right"><a href="/logout">Logout</a></button>
    <button class="btn left"><a href="/">Search</a></button>
    <button class="btn left"><a href="/users/<%= current_user.id %>">Profile</a></button>
  <% else %>
    <button class="btn left"><a href="/login">Login</a></button>
    <button class="btn left"><a href="/users/new">Register</a></button>
  	<button class="btn left"><a href="/">Search</a></button>
  <% end %>
</nav>
<br />

<div class="results">
	<h1>RESULTS:</h1>
	<% if !logged_in? %>
	<% @users.each do |user| %>
			<p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
		<% end %>
	<% else %>
		<% @users.each do |user| %>
			<% if user.id != current_user.id %>
				<p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
			<% end %>
		<% end %>
	<% end %>
</div>