<%= erb :_nav_bar, layout: false %>

<div class="results">
	<h1>RESULTS:</h1>
	<% if !logged_in? %>
	<% @users.each do |user| %>
			<p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
		<% end %>
	<% else %>
		<% @users.each do |user| %>
			<% if user.id != current_user.id %>
				<p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
			<% end %>
		<% end %>
	<% end %>
</div>